<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ferey.android.libproject.lib1">

    <application>
        <activity
            android:name="de.ferey.android.libproject.lib1.Lib1MirahActivity"
            android:label="Lib1MirahActivity"></activity>
    </application>

</manifest>
